# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#OS X garbage
.DS_Store

#Executables
1/1

#Latex generator garbage
*.aux
*.fdb_latexmk
*.log
*.out
report/*.pdf
*.synctex.gz

